@charset "UTF-8";

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
html * {
	font-family: 'Suit';
}

body {
	margin: 0;
	padding: 0;
}

.area {
	text-align: center;
}

.table {
	text-align: center;
}